@model WebDesignPatternProjet.ViewModels.VehiculeVM

@{
    ViewBag.Title = "AssemblageVoiture";
}



<h2>Assemblage d'une voiture</h2>

@Model.etat

<br>
    Debut Assemblage
<br>
    Ajout de chassis pour voiture
<br>
    Ajout de moteur pour voiture
<br>
    Ajout de portes pour voiture
<br>
    Fin de l'assemblage des voitures
