@model WebDesignPatternProjet.ViewModels.VehiculeVM

@{
    ViewBag.Title = "AssemblageCamion";
}



<h2>Assemblage d'un camion</h2>

@Model.etat

<br>
    Debut Assemblage
<br>
    Ajout de chassis pour camion
<br>
    Ajout de moteur pour camion
<br>
    Ajout de portes pour camion
<br>
    Fin de l'assemblage des camions
