@model WebDesignPatternProjet.ViewModels.VehiculeVM

@{
    ViewBag.Title = "AssemblageMoto";
}



<h2>Assemblage d'une moto</h2>

@Model.etat

<br>
    Debut Assemblage
<br>
    Ajout de chassis pour moto
<br>
    Ajout de moteur pour moto
<br>
    Pas besoin de portes pour les motos
<br>
    Fin de l'assemblage des motos
